<html>
<header>
    <meta charset="utf-8">
    <title>blog admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style>
        .navchange li a {
            color: #ffffff;
            line-height: 40px;
        }

        .navchange li a:hover {
            color: rgba(0, 0, 0, 0.8);
        }

        a {
            color: inherit;

        }

        a:hover {
            text-decoration: underline;
        }

        .footer {
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

        .container {
            background-color: #ffffff;
            min-height: calc(100vh - 110px);
            width: 100%;
            margin-top: -25px;
            padding: 30 10% 0px 10%;
        }
    </style>
    <script src="/js/jquery.min.3.3.1.js"></script>
</header>
<div>
    <nav class="navbar bg-primary">
        <ul class="navchange nav nav-pills">
            <li role="presentation"><a href="/lifeArticles">生活小记</a></li>
            <li role="presentation"><a href="/studyShare">学习分享</a></li>
            <li role="presentation"><a href="/covers">照片墙</a></li>
            <li role="presentation"><a href="/myInfo">关于我</a></li>
            <li role="presentation"><a href="/leaveMessage">留言板</a></li>
            <li style="float:right">
                <button class="btn btn-danger" style="float:right;margin-top: 15px;margin-right:10px;">
                    注销
                </button>
            </li>
        </ul>
    </nav>
</div>

</html>