<%- include('../header.ejs') %>
<div class="container">
    <div class="bg-info" style="padding:10px; margin:10px 0 30px 0;">新增分享</div>
    <div class="row">
        <div class="col-md-8 col-md-offest-2">
            <form action="/studyShare/new" method="post" enctype="multipart/form-data">
                <div class='form-group'>
                    <label>文章标题：</label>
                    <input class="form-control" name="title" />
                </div>
                <div class="form-group">
                    <label>发布时间：</label>
                    <input class="form-control" type="date" name="date" />
                </div>
                <div class="form-group">
                    <label>标签：</label>
                    <input class="form-control" name="atype" />
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">文章内容</label>
                    <input type="file" name="body" id="exampleInputFile">
                    <p class="help-block">请上传文章（md文件）</p>
                </div>
                <div class="form-group">
                    <label for="cover">文章封面</label>
                    <input class="form-control" name="cover" id="cover">
                </div>
                <div class="form-group">
                    <label>文章简介：</label>
                    <textarea class="form-control" name="description">
                    </textarea>
                </div>
                <button class="btn btn-primary">确定</button>
            </form>
        </div>
    </div>
</div>
<%- include('../footer.ejs')%>;